


/* #Signup {
    display: flex;
    -ms-flex-align: center;
} */

/* .signin {

} */
/* .progress {
    box-sizing: border-box;
    background-color: aqua;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items:
} */

.application {
    margin: auto;
    width: 50%;
}

#companyName {
   
}

#title {
    
}

#job {
   
}

#jobCard {
    
}


